body {
  background:goldenrod;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
  margin: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content:last baseline;
}

form {
  margin: 1rem;
  width: 50%;
}

textarea {
  width: 100%;
  height: 600px;
  field-sizing: content;
}
.preview {
  background: lightcoral;
  width: 50%;
  padding: 0 1rem;
  margin: 1rem 0;
  color: aliceblue;
}